*{
  padding: 0;
  margin: 0;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


#app{
  height: 40vw;
  width: 40vw;
  display: flex;
  flex-wrap: wrap;

}

.box{
  height: 33.3%;
  width: 33.3%;
  padding: 0;
}

.box img{
  width: 100%;
  height: 100%;
  border: black 3px solid;
}